.jobs-overview-main {
    flex-direction: row;
    margin-top: 1rem;
}

.jobs-overview-list {
    padding: 1rem;
    background-color: rgba(64, 64, 64, 0.2);
    border-radius: 0%;
}

.list-group-item {
    padding: 1rem;
    border-radius: 0%;
}

.list-group-item .card {
    padding: 0.5rem;
    flex-direction: row;
}