.user-detail-main {
    flex-direction: row;
}

.user-applied-jobs {
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(64, 64, 64, 0.2);
    border-radius: 0%;
}

.list-group {
    width: 100%;
}
